
* {
    box-sizing: border-box;
}
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-size: 10rem;
  font-weight: 400;
  align-items: center;
  color:black;
  display: flex;

}
h3 {
font-size: 2.05rem;
  font-weight: 400;
  align-items: ;
  color:aqua;
  display: flex;

}



body {
  line-height: 1.6;
  background-color: #E68C5B;
  display: flex;
  flex-direction: column;
  align-items:center
  padding: 2rem;
  min-height: 100vh;

}