
* {
    box-sizing: border-box;
    background-color: #E68C5B;
}
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: blue;
}


h1 {
  font-size: 10rem;
  font-weight: 400;
  align-items: center;
  color:black;
  display: flex;

}
h2 {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
font-size: 2.05rem;
  font-weight: 400;
  align-items: ;
  color:black;
  display: flex;
  background-color: antiquewhite;
}
p {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: antiquewhite;
}
img {
  width: 25%;
  height: 25%;
}

label {
  font-family: "Antic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
