
* {
    box-sizing: border-box;
    background-color: #E68C5B;
}
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: blue;
}

}
img {
  width: 25%;
  height: 25%;
}

.baron{
  position: relative;
}
.description{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width:calc(100%-20px)

}
